videos
/isaacgymenvs/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/isaacgymenvs/tasks/__pycache__
/isaacgymenvs/utils/__pycache__
/isaacgymenvs/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
_doxygen
/rlisaacgymenvsgpu/logs
/isaacgymenvs/benchmarks/results
/isaacgymenvs/simpletests/results
*.pxd2
/tests/logs
/isaacgymenvs/balance_bot.xml
/isaacgymenvs/quadcopter.xml
/isaacgymenvs/ingenuity.xml
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb

/assets/urdf/franka_description_tmr/.docker
/assets/urdf/franka_description_tmr/end_effectors
/assets/urdf/franka_description_tmr/extras
/assets/urdf/franka_description_tmr/launch
/assets/urdf/franka_description_tmr/meshes
/assets/urdf/franka_description_tmr/robots
/assets/urdf/franka_description_tmr/rviz
/assets/urdf/franka_description_tmr/scripts
/assets/urdf/franka_description_tmr/test

/assets/urdf/ur5e_allegro
