<robot name="digit">
	<link name="cam">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry>
				<mesh filename="meshes/digit_centered/digit.obj" scale="1.0 1.0 1.0" />
			</geometry>
		</visual>
		<collision>
      	<origin xyz="0 0 0"/>
			<geometry>
				<sphere radius="0.04"/>
			</geometry>
    	</collision>
		<inertial>
			<mass value="0.05" />
			<inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
		</inertial>
	</link>
</robot>