<?xml version="1.0"?>
<robot name="spherical_joint_robot">
  <link name="base_link" />
  <link name="translation_x" />
  <link name="translation_y" />
  <link name="translation_z" />

  <!-- <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 0.5"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 0.5"/>
      </geometry>
    </collision>
     <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
    </inertial>
  </link> -->
  
  <joint name="prismatic_joint_x" type="prismatic">
    <axis xyz="1 0 0"/>
    <origin xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="translation_x"/>
    <limit effort="1000.0" lower="-2" upper="2" velocity="100"/>
  </joint>
  <joint name="prismatic_joint_y" type="prismatic">
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0"/>
    <parent link="translation_x"/>
    <child link="translation_y"/>
    <limit effort="1000.0" lower="-2" upper="2" velocity="100"/>
  </joint>
  <joint name="prismatic_joint_z" type="prismatic">
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0"/>
    <parent link="translation_y"/>
    <child link="translation_z"/>
    <limit effort="1000.0" lower="-2" upper="2" velocity="100"/>
  </joint>

  <joint name="spherical_joint" type="spherical">
    <origin xyz="0 0 0"/>
    <parent link="translation_z"/>
    <child link="root_link"/>
    <limit effort="1000.0" lower="-4" upper="4" velocity="100"/>
  </joint>


  <link name="root_link">
    <inertial>
      <mass value="0.4154"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/allegro/base_link.obj"/>
      </geometry>
      <material name="Grey">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
      <origin rpy="0 0 0" xyz="0 0 0 "/>
    </visual>
     <collision>
      <origin rpy="0 0 0" xyz="-0.009 0.0 -0.023"/>
      <geometry>
        <box size="0.0414 0.112 0.0448"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009 -0.0253 -0.0667"/>
      <geometry>
        <box size="0.0414 0.0538 0.0428"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.009300 -0.00557 -0.08874"/>
      <geometry>
        <box size="0.0414 0.0720 0.013"/>
      </geometry>
    </collision> 
  </link>
  
  <joint name="revolute_0" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-0.47" upper="0.47" velocity="10"/>
    <parent link="root_link"/>
    <child link="link_3"/>
    <origin rpy="-0.08726646255 0 0" xyz="0 0.0435 -0.001542"/>
  </joint>

  <link name="link_3">
     <inertial>
      <mass value="0.065"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="7.95654166667e-05" ixy="1.7199e-05" ixz="8.75875e-06" iyy="2.47088833333e-05" iyz="2.413125e-05" izz="7.95654166667e-05"/>
    </inertial>
    
    <visual>
      <geometry>
        <mesh filename="meshes/allegro/link_1.0.obj"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.0196 0.0275 0.054"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.027"/>
    </collision>
  </link>

</robot>
